/* **************************  BEGAIN  ******************************** */
*{
    padding: 0px;
    margin: 0px;
}
/* **************************  HEADER  ******************************** */
a,p{
    text-decoration: none;
    font: 16px "Microsoft YaHei",Tahoma, Arial, sans-serif;
}

.title-nav{
    width: 100%;
    height: 50px;
    background: #004098;
}
.title-nav .box{
    width: 1170px;
    height: 50px;
    margin: 0 auto;
}
.title-nav .box1{
    width: 260px;
    height: 35px;
    float: left;
    margin-top: 15px;
}
.title-nav .box1 img{
    margin-right: 14px;
}
.title-nav .box2{
    width: 500px;
    height: 35px;
    float: right;
    padding-top: 13px;
    text-align: right;
}
.title-nav .box1 .shop{
    border-right: 1px solid #b0bbd6;
    margin-right: 25px;
    width: 110px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.title-nav .box1 .shop a{
    color: #b0bbd6;
    font-size: 14px;
}
.title-nav .box1 .peo{
    width: 110px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.title-nav .box1 .peo a{
    color: #b0bbd6;
    font-size: 14px;
}
.title-nav .box2 a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #b0bbd6;
    font-size: 14px;
}
.title-nav .box2 img{
    margin-left: 14px;
}
/* ******************************************************************* */
.beifen{
    position: fixed;
    top:0px;
    display: none;
}
/* *********************************************************************8 */
.main-nav{
    width: 100%;
    height: 100px;
    background-color: white;
}
.main-nav .box{
    width: 1170px;
    height: 100px;
    margin: 0 auto;
}
.main-nav .box1{
    display: inline-block;
    width: 265px;
    height: 100px;
}
.main-nav .box2{
    display: inline-block;
    width: 715px;
    height: 100px;
}
.main-nav .box3{
    display: inline-block;
    width: 160px;
    height: 100px;
}
.main-nav .box1 img{
    float: left;
    margin-top: 20px;
}
.main-nav .box2 ul,
.main-nav .box2 li{
    float: left;
}
.main-nav .box2 .b1{
    display: inline-block;
    width: 32px;
    height: 100px;
    padding: 0 30px;
    color: #004098;
    font-weight: bold;
    font-size: 16px;
    line-height: 100px;
}
.main-nav .box2 .b2{
    display: inline-block;
    width: 64px;
    height: 100px;
    padding: 0 30px;
    font-size: 16px;
    color: #282626;
    line-height: 100px;
}
.main-nav .box2 .b1:hover{
    height: 96px;
    border-bottom:  rgb(0, 64, 152) solid 4px;
}
.main-nav .box2 .b2:hover{
    display: block;
    height: 96px;
    border-bottom:  rgb(0, 64, 152) solid 4px;
}
/* .main-nav .box2 .b3:hover .next{
    display: block;
    height: 96px;
    border-bottom:  rgb(0, 64, 152) solid 4px;
} */
/* .main-nav .box2 .b3:hover .next{
    display: block;
} */
.main-nav .box3 .sbox{
    display: block;
    width: 50px;
    height: 30px;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 40px;
    float: left;
}
.main-nav .box3 .sbox .che{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(../image/h-5.png) no-repeat;
}
.main-nav .box3 .sbox .qian{
    display: inline-block;
    width: 9px;
    height: 12px;
    background: url(../image/h-8.png) no-repeat;
}
.main-nav .box3 .sbox span{
    display: inline-block;
    color: #004098;
    font-size: 16px;
    font-weight: bold;
}
.main-nav .box3 .sou{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 40px;
    margin-left: 40px;
    background: url(../image/h-6.png);
}
/* #all:hover #second{
    display: block;
} */
/* ********************************************************************* */
.next{
    width: 100%;
    height: 82px;
    position: fixed;
    top:150px;
    display: none;
    background-color: white;
}
/* .next:hover{
    display: block;
} */
.next .box{
    width: 800px;
    height: 82px;
    margin: 0 auto;
}
.next .box li,
.next .box ul{
    float: left;
}
.next .box li{
    width: 115px;
    height: 80px;
}
.next .box a{
    padding-top: 31.5px;
    color: black;
    font-size: 14px;
    display: block;
    padding-left: 40px;
}
.next .box a:hover{
    color: rgb(0, 64, 152);
}
.next .box .a1{
    width: 143px;
}
.next .box .a2{
    width: 126px;
}
/* *****************************  FOOTER  ****************************** */
.footerbig{
    width: 100%;
    height: 200px;
    background: #292929;
}
.footer{
    width: 1170px;
    height: 160px;
    margin: 0 auto;
    padding-top: 40px;
}
.footerleft{
    width: 147px;
    height: 137px;
    float: left;
    margin-right: 100px;
}
.footercenter{
    width: 497.766px;
    height: 92px;
    float: left;
    padding-top: 44px;
}
.footright{
    width: 315px;
    height: 133px;
    margin-left: 80px;
    float: right;
}
.footerleft p{
    color: white;
    font-size: 14px;
}
.footerleft .p1{
    margin-top: 52px;
}
.footercenter h2{
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}
.footercenter p{
    font-size: 14px;
    color: white;
}
.footright .biaozhi{
    width: 315px;
    height: 69px;
    margin-bottom: 24px;
}
.footright .gongan{
    display: block;
    width: 313px;
    height: 38px;
    border: 1px solid white;
    border-radius: 5px;
}
.footright .biaozhi .hui1{
    float: left;
    width: 56px;
    height: 69px;
    margin-right: 30px;
}
.footright .biaozhi .hui2{
    float: left;
    width: 80.641px;
    height: 69px;
    margin-right: 30px;
}
.footright .biaozhi .hui3{
    float: left;
    width: 98px;
    height: 69px;
}
.footright .biaozhi .hui1 img{
    display: block;
    margin-bottom: 10px;
    margin-left: 7px;
}
.footright .biaozhi .hui2 img{
    display:block;
    margin-bottom: 10px;
    margin-left: 18px;
}
.footright .biaozhi .hui3 img{
    display: block;
    margin-bottom: 10px;
    margin-left: 26px;
}
.footright .biaozhi a{
    color: white;
    font-size: 14px;
}
.footright .gongan{
    color: white;
    line-height: 38px;
}
.footright .gongan img{
    margin: 5px 0px 0px 10px;
}
.footright .gongan span{
    margin: 0 5px;
}
/* *********************************************************************** */
.hover{
    width: 40px;
    height: 175px;
    background: url(../image/h-13.png) no-repeat;
    position:fixed;
    top: 100%;
    left: 100%;
    margin-top: -177px;
    margin-left: -40px;
}
.hover li{
    width: 100%;
    height: 36px;
    text-align: center;
    padding-top: 13px;
}
.hover .a:hover #saoma{
    display: block;
}
.hover .a1:hover #qiandao{
    display: block;
}
.hover .a2:hover #kefu{
    display: block;
}
#saoma{
    width: 133px;
    height: 149px;
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -150px;
    margin-left: -173px;
    z-index: 9999;
    display: none;
}
#qiandao{
    width: 133px;
    height: 149px;
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -150px;
    margin-left: -173px;
    z-index: 9999;
    display: none;
}
#kefu{
    width: 133px;
    height: 149px;
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -150px;
    margin-left: -173px;
    z-index: 9999;
    display: none;
}
#DHC{
    width: 133px;
    height: 40px;
    background: url(../image/h-21.png);
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -175px;
    margin-left: -173px;
    display: none;
}
#DHCT:hover #DHC{
    display: block;
}
/* **************************  COMTENT  ******************************** */
.banner{
    height: 620px;
    width: 100%;
}
.contentbig{
    height: 1995px;
    width: 100%;
}
.contentbig .content{
    width: 1170px;
    height: 2057px;
    margin: 0 auto;
}
.contentbig .content .box1{
    height: 690px;
    width: 1170px;
}
.contentbig .content .box2{
    height: 898px;
    width: 1170px;
    margin-top: 90px;
}
.contentbig .content .box2 .ing{
    width: 1170px;
    height: 64px;
}
.contentbig .content .box2 .tu{
    width: 1170px;
    height: 774px;
    margin: 60px 0px;
}
.contentbig .content .box3{
    width: 1170px;
    height: 317.85px;
}
.contentbig .content .box1 .left{
    width: 770px;
    height: 690px;
    float: left;
}
.contentbig .content .box1 .right{
    width: 370px;
    height: 690px;
    float: right;
}
.contentbig .content .box1 .left .smallbox{
    width: 770px;
    height: 200px;
    margin-top:50px ;
}
.contentbig .content .box1 .left .smallbox a{
    float: left;
}
.contentbig .content .box1 .left .smallbox .a1{
    margin-right: 30px;
}
.contentbig .content .box1 .right a{
    float: left;
}
.contentbig .content .box1 .right .a1{
    margin-top: 50px;
}
.contentbig .content .box2 .ing p{
    font-size: 48px;
    color: #004098;
}
.contentbig .content .box2 .ing p a{
    font-size: 16px;
    color: #004098;
    float: right;
    margin-top: 25px;
}

.contentbig .content .box2 .tu li{
    width: 270px;
    height: 355px;
    border: 1px solid #eee;
    background-image: url(../image/s-7.jpg);
    border-radius: 5px;
    overflow: hidden;
    float: left;
    margin-right: 27px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}
.contentbig .content .box2 .tu li a{
    display: block;
    width: 270px;
    height: 355px;
}
.contentbig .content .box2 .tu .buzhidao{
    margin-right:0px;
}
.contentbig .content .box2 .tu .nei{
    width: 270px;
    height: 126px;
    position: absolute;
    top: 266px;
    bottom: -37px;
    
}
.contentbig .content .box2 .tu .nei .nei1{
    display: block;
    color: #282626;
    width: 270px;
    height: 73px;
    padding: 18px 8px 5px 8px;
    
}
.contentbig .content .box2 .tu .nei .nei1 .sp{
    width: 234px;
    height: 29px;
}
.contentbig .content .box2 .tu .nei .nei1 .sp .sp2{
    /* display: block; */
    font-size: 22px;
    color: #d71e06;
    font-weight: normal;
    display: inline-block;
    /* content: ''; */
    width: 13px;
    height: 18px;
}
.contentbig .content .box2 .tu .nei .nei1 .sp .sp1{
    display: block;
    float: right;
    text-decoration: line-through;
    color: #b5b5b5;
    font-size: 14px;
    margin-top: 3px;

}
.contentbig .content .box2 .tu .nei .nei1 p{
    width: 190px;
    height: 40px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    margin-bottom: 14px;
    font-size: 14px;
    color: #959595;
}
.contentbig .content .box2 .tu .nei .nei2{
    display: block;
    float: left;
    margin-left: 18px;
    cursor: pointer;
    width: 26px;
    height: 21px;
    background: url(../image/h-22.png);
}
.contentbig .content .box3 .top{
    width: 1170px;
    height: 70px;
    margin-bottom: 30px;
}
.contentbig .content .box3 .down{
    width: 1170px;
    height: 159px;
    margin-bottom: 60px;
}
.contentbig .content .box3 .top a{
    display: block;
    float: left;
}
.contentbig .content .box3 .top .a1{
    margin-right: 31.5px;
}

/* ****************************  END  ********************************* */
